
img {
   border-radius: 20px;
   width: 30rem;
   margin-bottom: 1rem;

}

h2 {

    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
 
}

p {
    padding: 0 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    
}

.first {
    background-color: rgb(179, 255, 255);
    padding: 50px 0;
}
.qrDiv {
    background-color: white;
    border-radius: 30px;
    margin: 20px 30%;
    text-align: center;
    padding: 15px;
    width: 32rem;
    } 

 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

  @media (max) {
    
  }